<app-header></app-header>
<div class="container text-center mt-0">
  <h5>Product Details</h5>
</div>
<div class="row border border-dark shadow rounded m-3 mt-0">
<div *ngIf="Product" class="container col-lg-3 text-center">
    <img [src]="Product.thumbnail" [alt]="Product.title">
</div>
<div class="col-lg-3">
  <div *ngFor="let img of Product.images">
   <img class="imges" src="{{img}}">
  </div>
</div>
<div class="details col-lg-6">
      <div class="header">
        <span class="name">
        <p><strong>Title :</strong> {{Product.title}}</p>
        </span>
      </div>
      <div>
        <span>
          <p><strong>description :</strong> {{Product.description}}</p>
        </span>
      </div>
     {{Product.price | currency:'INR'}}
      <div>
        <span>
        <p><strong>discountPercentage :</strong> {{Product.discountPercentage}}</p>
        </span>
      </div>
      <div>
        <span>
        <p> <strong>rating:</strong> {{Product.rating}}</p>
        </span>
      </div>
      <div>
        <span>
        <p><strong>stock :</strong> {{Product.stock}}</p>
        </span>
      </div>
      <div>
        <span>
        <p> <strong>brand :</strong> {{Product.brand}}</p>
        </span>
      </div>
      <div>
        <span>

        <p> <strong>category :</strong> {{Product.category}}</p>
        </span>
      </div>

      <br>
      <button style="background-color:green;" routerLink="/">Back To Home</button>
    </div>
  </div>


