<app-header></app-header>
<div>
  <div class="text-center">
    <button type="button" class="btn btn-lg btn-warning" data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      + Add Product
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="row">
          <div class="col-lg-12">
          <form>
            <div class="mb-4 m-5">
              <img [src]="url" height="100px" width="100px">
              <input type="file" (change)="onselectFile($event)" class="form-control" #thumbnail>
            </div>
            <div class="mb-4">
              <input type="text"  class="form-control" placeholder="Enter Title" #title>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" (click)="addData(title.value,thumbnail.value)">Submit Data</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-light mt-3">
  <div class="container-fluid text-center bg-light border"><h1><span
        style="color:black;font-family: cursive;">Our Popular Products</span></h1></div>
  <ul>
    <li *ngFor="let product of Product.products;  let i = index;">
      <div>
        <a>
          <img  routerLink="/product/{{product.id}}" src="{{product.thumbnail}}">
        <div class="content">
            <div class="name">
              {{product.title}}
            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                <button class="btn btn-primary btn-lg btn btn-lg btn-warning" data-bs-toggle="modal"
                data-bs-target="#editModal">Edit</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-danger btn-lg" (click)="deleteData(i)">delete</button>
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>
  </ul>
  <div class="modal fade" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">update Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="row">
          <div class="col-lg-12">
          <form>
            <div class="mb-4 m-5">
              <img [src]="url" height="100px" width="100px">
              <input type="file" (change)="onselectFile($event)" class="form-control" #thumbnail>
            </div>
            <div class="mb-4">
              <input type="text"  class="form-control" placeholder="Enter Title" #title>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" (click)="updateData(title.value,thumbnail.value)">Update Data</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
